DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=Asia/Kolkata

POSTGRES_DB=smart_sched
POSTGRES_USER=smart_sched_user
POSTGRES_PASSWORD=smart_sched_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
